:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-grey-color: #434455;
  --primary-black-color: #2e2f42;
  --primary-white-color: #fff;
  --active-link-color: #404bbf;
  --primary-grey-second-color: #f4f4fd;
  --primary-blue-color: #4d5ae5;
  --color-border-button: #e7e9fc;
  --grey-icon-color: #8e8f99;
  --primary-font-size: 16px;
  --primary-line-height: 1.5;
  --primary-letter-spacing: 0.02em;
}

/* Base styles */
body {
  font-family: var(--primary-font);
  color: var(--primary-grey-color);
  font-size: var(--primary-font-size);
  background-color: var(--primary-white-color);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Common style */
.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header section  */
@media only screen and (max-width: 767.98px) {
  .header {
    padding-top: 24px;
    padding-bottom: 22px;
  }
}
.header {
  border-bottom: 1px solid var(--color-border-button);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;

  color: var(--primary-blue-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: var(--primary-black-color);
}

.logo-footer {
  color: var(--primary-grey-second-color);
}

/* nav */
.nav {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .nav-item {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 767.98px) {
  .nav-item {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav-item-list-link {
    padding: 24px 0;
    color: var(--primary-black-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: 500;
    line-height: var(--primary-line-height);
    letter-spacing: var(--primary-letter-spacing);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .nav-item-list-link.current {
    color: var(--active-link-color);
  }
  .nav-item-list-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--active-link-color);
    display: block;
    width: 100%;
    border-radius: 2px;
  }

  .nav-item-list-link:hover,
  .nav-item-list-link:focus {
    color: var(--active-link-color);
  }

  .address-contacts-list {
    padding: 16px 0;
    margin: right 0;
  }
  .address-contacts {
    font-style: normal;
  }
  .address-contacts-link {
    color: var(--primary-grey-color);
    align-items: center;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-contacts-link:hover,
  .address-contacts-link:focus {
    color: var(--active-link-color);
  }
  .address-contacts-list {
  }
}

@media only screen and (max-width: 767.98px) {
  .address-contacts-list {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .address-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
  }
  .nav-item {
    margin-left: 76px;
  }
}

/* headline section */
.headline {
  padding: 112px 0;
  margin: 0 auto;
  text-align: center;
  background: var(--primary-black-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .headline {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-mob@2x.jpg);
  }
}

.headline-title {
  max-width: 320px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-white-color);
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
}

@media screen and (min-width: 768px) {
  .headline {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tab.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .headline {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tab@2x.jpg);
    }
  }
  .headline-title {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.button {
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: 0.04em;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  color: var(--primary-white-color);
  background-color: var(--primary-blue-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--active-link-color);
}

@media screen and (min-width: 1158px) {
  .headline {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .headline {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office1@2x.jpg);
    }
  }

  .headline-title {
    margin: 0 auto 48px;
  }
}

/* advantages section */
.advantages-section {
  padding: 96px 0;
}

.icon {
  display: none;
}

.section-title {
  margin-bottom: 8px;
  text-align: center;
  color: var(--primary-black-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
}

.section-text {
  color: var(--primary-grey-color);
  font-weight: 500;
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advantages-list-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
  .section-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .advantages-section {
    padding: 120px 0;
  }
  .advantages-container {
    max-width: 1128px;
    padding: 0;
  }
  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .advantages-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .icon {
    display: flex;
    padding: 24px 100px;
    border-radius: 4px;
    background-color: var(--primary-grey-second-color);
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
  }
  .section-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: none;
  }
  .section-text {
    font-weight: 500;
  }
}

@media screen and (max-width: 767.98px) {
  .advantages-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

/* Our Team */
.title-team {
  padding: 96px 0;
  background: var(--primary-grey-second-color);
}

.team-container {
  max-width: 296px;
}

.title {
  color: var(--primary-black-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  text-align: center;
}

.text-section-cards {
  padding: 32px 0;
}

.section-cards {
  display: inline-flex;
  max-width: 264px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-photo-title {
  color: var(--primary-black-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: var(--primary-letter-spacing);
  text-align: center;
  margin-bottom: 8px;
}

.section-photo-text {
  color: var(--primary-grey-color);
  text-align: center;
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  text-align: center;
  margin-bottom: 8px;
}

.logo-icon {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.svg-team {
  fill: var(--primary-grey-second-color);
}

.logo-icon-list-link {
  background-color: var(--primary-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon-list-link:hover,
.logo-icon-list-link:focus {
  background-color: var(--active-link-color);
}

@media screen and (min-width: 768px) {
  .team-container {
    max-width: 584px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;

    justify-content: center;
    align-items: center;
  }
  .section-cards {
    flex-basis: calc((100% - 24px * 1) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .title-team {
    padding: 120px 0;
  }

  .team-container {
    max-width: 1128px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .section-cards {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}

@media screen and (max-width: 767.98px) {
  .section-cards:not(:last-child) {
    margin-bottom: 72px;
  }
}

/* Section 4  */
.icon-team {
  padding: 96px 0;
  background: var(--primary-white-color);
}

.logo-icon-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.logo-icon-item .list {
  flex-basis: calc((100% - 1 * 16px) / 2);
  height: 88px;
}

.logo-icon-item-list {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--grey-icon-color);
  color: var(--grey-icon-color);
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons {
  fill: currentColor;
}
.logo-icon-item-list:hover,
.logo-icon-item-list:focus {
  border-color: var(--active-link-color);
  color: var(--active-link-color);
}

@media screen and (min-width: 768px) {
  .icone-team-container {
    max-width: 584px;
  }
  .logo-icon-item {
    column-gap: 24px;
  }

  .logo-icon-item .list {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .icon-team {
    padding: 120px 0;
  }
  .icone-team-container {
    max-width: 1128px;
  }

  .logo-icon-item {
    gap: 24px;
  }

  .logo-icon-item .list {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
}

@media screen and (max-width: 767.98px) {
}

/* Mobile menu */
.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.mobile-menu-icon {
  stroke: var(--primary-black-color);
  margin-bottom: 2px;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 80px 40px 35px;
  background-color: var(--primary-white-color);
  z-index: 999;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  display: block;
  color: var(--primary-black-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--active-link-color);
}
.menu-toggle.js-close-menu {
  min-height: 24px;
  min-width: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle.js-close-menu:hover,
.menu-toggle.js-close-menu:focus {
  background-color: var(--active-link-color);
  border: none;
}

.menu-close-icon {
  fill: var(--primary-black-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-icon:active,
.menu-close-icon:focus {
  fill: var(--primary-white-color);
}

.mobile-menu-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-blue-color);
  border-radius: 50%;
  fill: var(--primary-grey-second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-tel {
  display: flex;
  justify-content: space-between;
  max-width: 100%;

  margin-bottom: 40px;
}
.mobile-tel {
  color: var(--primary-blue-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
}

@media screen and (max-width: 427.98px) {
  .mobile-tel {
    font-size: 20px;
  }
}
.mobile-address-contacts-link {
  color: var(--primary-grey-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: var(--primary-letter-spacing);
}
.mobile-mail {
  margin-bottom: 48px;
}
