:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-grey-color: #434455;
  --primary-black-color: #2e2f42;
  --primary-white-color: #fff;
  --active-link-color: #404bbf;
  --primary-grey-second-color: #f4f4fd;
  --primary-blue-color: #4d5ae5;
  --color-border-button: #e7e9fc;
  --grey-icon-color: #8e8f99;
  --primary-font-size: 16px;
  --primary-line-height: 1.5;
  --primary-letter-spacing: 0.02em;
}

/* Base styles */
body {
  font-family: var(--primary-font);
  color: var(--primary-grey-color);
  font-size: var(--primary-font-size);
  background-color: var(--primary-white-color);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Common style */
.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header section  */
@media only screen and (max-width: 767.98px) {
  .header {
    /* padding: 24px 0; */
    /* padding: auto 0; */
  }
}
.header {
  border-bottom: 1px solid var(--color-border-button);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;

  color: var(--primary-blue-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: var(--primary-black-color);
}

.logo-footer {
  color: var(--primary-grey-second-color);
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.mobile-menu-link.current {
  color: var(--active-link-color);
}

@media only screen and (max-width: 767.98px) {
  .nav-item {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-container {
    max-height: 72px;
  }
  .nav-item {
    margin-left: 120px;
  }
  .nav-item-link {
    /* height: 100%; */
  }
  .nav.logo {
    padding: 24px 0;
  }

  .nav-item-list-link {
    padding: 24px 0;
    color: var(--primary-black-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: 500;
    line-height: var(--primary-line-height);
    letter-spacing: var(--primary-letter-spacing);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .nav-item-list-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--active-link-color);
    display: block;
    width: 100%;
    border-radius: 2px;
  }

  .nav-item-list-link:hover,
  .nav-item-list-link:focus {
    color: var(--active-link-color);
  }

  .address-contacts {
    padding: 16px 0;
    font-style: normal;
    /* margin-right: 0; */

    /* align-items: center;
    gap: 12px; */
  }
  .address-contacts-list {
    color: var(--primary-grey-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .address-contacts-list-link:not(:last-child) {
    margin-bottom: 12px;
  }

  .address-contacts-link {
    color: var(--primary-grey-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-contacts-link:hover,
  .address-contacts-link:focus {
    color: var(--active-link-color);
  }
}

@media only screen and (max-width: 767.98px) {
  .address-contacts-list {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .address-contacts-list-link:not(:last-child) {
    margin-bottom: 0;
  }
  .address-contacts-list {
    /* max-width: 118px;
    max-height: 14px;
    color: var(--primary-grey-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; */
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
  }
  .nav-item {
    margin-left: 76px;
  }
}

/* headline section */
.headline {
  padding: 112px 0;
  margin: 0 auto;
  text-align: center;
  background: var(--primary-black-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .headline {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-mob@2x.jpg);
  }
}

.headline-title {
  max-width: 320px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-white-color);
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
}

@media only screen and (min-width: 768px) {
  .headline {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tab.jpg);
  }
  @media only screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .headline {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tab@2x.jpg);
    }
  }
  .headline-title {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.button {
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: 0.04em;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  color: var(--primary-white-color);
  background-color: var(--primary-blue-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--active-link-color);
}

@media only screen and (min-width: 1158px) {
  .headline {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);
  }

  @media only screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .headline {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office1@2x.jpg);
    }
  }

  .headline-title {
    margin: 0 auto 48px;
  }
}

/* advantages section */
.advantages-section {
  padding: 96px 0;
}

.icon {
  display: none;
}

.section-title {
  margin-bottom: 8px;
  text-align: center;
  color: var(--primary-black-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
}

.section-text {
  color: var(--primary-grey-color);
  font-weight: 500;
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

@media only screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advantages-list-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
  .section-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages-section {
    padding: 120px 0;
  }
  /* .advantages-container {
    max-width: 1128px;
    padding: 0;
  } */
  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .advantages-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .icon {
    display: flex;
    padding: 24px 100px;
    border-radius: 4px;
    background-color: var(--primary-grey-second-color);
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
  }
  .section-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: none;
  }
  .section-text {
    font-weight: 500;
  }
}

@media only screen and (max-width: 767.98px) {
  .advantages-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
/* doing-section */
.doing-section {
  padding-bottom: 120px;
}
.title-list {
  display: flex;
  gap: 24px;
}

@media only screen and (max-width: 1157.98px) {
  .doing-section {
    display: none;
  }
}

/* Our Team */
.title-team {
  padding: 96px 0;
  background: var(--primary-grey-second-color);
}

.team-container {
  max-width: 296px;
}

.title {
  color: var(--primary-black-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  text-align: center;
}

.text-section-cards {
  padding: 32px 0;
}

.section-cards {
  display: inline-flex;
  max-width: 264px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-photo-title {
  color: var(--primary-black-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: var(--primary-letter-spacing);
  text-align: center;
  margin-bottom: 8px;
}

.section-photo-text {
  color: var(--primary-grey-color);
  text-align: center;
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  text-align: center;
  margin-bottom: 8px;
}

.logo-icon {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.svg-team {
  fill: var(--primary-grey-second-color);
}

.logo-icon-list-link {
  background-color: var(--primary-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon-list-link:hover,
.logo-icon-list-link:focus {
  background-color: var(--active-link-color);
}

@media only screen and (min-width: 768px) {
  .team-container {
    max-width: 584px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;

    justify-content: center;
    align-items: center;
  }
  .section-cards {
    flex-basis: calc((100% - 24px * 1) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .title-team {
    padding: 120px 0;
  }

  .team-container {
    max-width: 1158px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .section-cards {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}

@media only screen and (max-width: 767.98px) {
  .section-cards:not(:last-child) {
    margin-bottom: 72px;
  }
}

/* Section 4  */
.icon-team {
  padding: 96px 0;
  background: var(--primary-white-color);
}

.logo-icon-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.logo-icon-item .list {
  flex-basis: calc((100% - 1 * 16px) / 2);
  height: 88px;
}

.logo-icon-item-list {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--grey-icon-color);
  color: var(--grey-icon-color);
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons {
  fill: currentColor;
}
.logo-icon-item-list:hover,
.logo-icon-item-list:focus {
  border-color: var(--active-link-color);
  color: var(--active-link-color);
}

@media only screen and (min-width: 768px) {
  .icone-team-container {
    max-width: 584px;
  }
  .logo-icon-item {
    column-gap: 24px;
  }

  .logo-icon-item .list {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .icon-team {
    padding: 120px 0;
  }
  .icone-team-container {
    max-width: 1158px;
  }

  .logo-icon-item {
    gap: 24px;
  }

  .logo-icon-item .list {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
}

@media only screen and (max-width: 767.98px) {
}

/* Mobile menu */
.menu-toggle {
  max-height: 22px;
  max-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.mobile-menu-icon {
  stroke: var(--primary-black-color);
  margin-bottom: 2px;
}
.nav-item-list-link.current {
  color: var(--active-link-color);
}
@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 80px 40px 35px;
  background-color: var(--primary-white-color);
  z-index: 999;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-list-link:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  display: block;
  color: var(--primary-black-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--active-link-color);
}
.menu-toggle.js-close-menu {
  min-height: 24px;
  min-width: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle.js-close-menu:hover,
.menu-toggle.js-close-menu:focus {
  background-color: var(--active-link-color);
  border: none;
}

.menu-close-icon {
  fill: var(--primary-black-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-icon:active,
.menu-close-icon:focus {
  fill: var(--primary-white-color);
}

.mobile-menu-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-blue-color);
  border-radius: 50%;
  fill: var(--primary-grey-second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-tel {
  display: flex;
  justify-content: space-between;
  /* min-width: 428px; */
  /* width: 100%; */
}
.mobile-tel {
  color: var(--primary-blue-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
}

@media only screen and (max-width: 427.98px) {
  .mobile-tel {
    font-size: 24px;
  }
}
.mobile-address-contacts-link {
  color: var(--primary-grey-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: var(--primary-letter-spacing);
}
.mobile-mail {
  margin-bottom: 48px;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 72px 16px 24px 16px;

  transform: translate(-50%, -50%);
  max-width: 396px;

  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 427.98px) {
  .modal {
    max-width: 320px;
  }
  .modal-caption {
    min-width: 290px;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--color-border-button);
  cursor: pointer;
  fill: var(--primary-black-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--active-link-color);
  border: none;
  fill: var(--primary-white-color);
}

.modal-btn-icon:hover,
.modal-btn-icon:focus {
  fill: var(--primary-white-color);
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

.modal-caption {
  color: var(--primary-black-color);
  display: block;
  margin-bottom: 16px;
  max-width: 360px;
  text-align: center;
  font-weight: 500;
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

.modal-form {
}

.modal-label {
  margin-bottom: 8px;
}

.modal-label-comment {
  margin-bottom: 16px;
}
.modal-input {
  position: relative;
}

.modal-form-field {
  display: block;
  color: var(--grey-icon-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  color: currentColor;
}
.modal-form-icone {
  fill: var(--primary-black-color);
  position: absolute;
  bottom: 8px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
  top: 50%;
}

.modal-form-input:focus,
.modal-form-comment:focus {
  border-color: var(--primary-blue-color);
}

.modal-form-input:focus + .modal-form-icone {
  fill: var(--primary-blue-color);
}

/* Agree */
.modal-agreement {
  margin-bottom: 24px;
}

.modal-form-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-form-custom-chekbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal-form-checkbox:checked + .modal-form-text > .modal-form-custom-chekbox {
  fill: var(--primary-grey-second-color);
  background-color: var(--active-link-color);
  border: none;
}

.modal-form-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--grey-icon-color);
}

.modal-form-agreement-desc {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  user-select: none;
}

.modal-form-link {
  color: var(--primary-blue-color);
  text-decoration: underline;
}

/* portfolio */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-button {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-button .list {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-photo-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-photo-item {
  width: calc((100% - 24px * 2) / 3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-photo-item .link {
  display: block;
}

.portfolio-photo-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-photo-link:hover,
.portfolio-photo-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-photo-link:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-photo-link:focus .overlay-text {
  transform: translateY(0%);
}

.overlay-img {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-grey-second-color);
  padding: 40px 32px;
  background-color: var(--primary-blue-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid var(--color-border-button);
  border-top: none;
}

.section-text-portfolio {
  color: var(--primary-grey-color);
}

.section-title-portfolio {
  margin-bottom: 8px;
  color: var(--primary-black-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: var(--primary-letter-spacing);
}

.button-list {
  display: block;

  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;

  align-items: flex-start;
  gap: 10px;
  font-family: inherit;
  background-color: var(--primary-grey-second-color);
  color: var(--primary-blue-color);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  padding: 12px 24px;
  border: 1px solid var(--color-border-button);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list:hover,
.button-list:focus {
  cursor: pointer;
  background-color: var(--active-link-color);
  color: var(--primary-white-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--primary-blue-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  text-align: center;
  font-weight: 500;
  line-height: var(--primary-line-height);
  letter-spacing: 0.04em;
  border-width: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.form-button:hover,
.form-button:focus {
  background-color: var(--active-link-color);
}

/* Footer */
.footer {
  padding: 96px 0;
  background-color: var(--primary-black-color);
  background-size: cover;
  min-width: 100%;
}

.footer-container {
  max-width: 428px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container-text .logo {
  margin-bottom: 16px;
}
.footer-text {
  color: var(--primary-grey-second-color);
  font-weight: 400;
  display: block;
  box-sizing: content-box;
  max-width: 264px;
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  margin-bottom: 72px;
}
.footer-social-item {
  color: var(--primary-white-color);
  font-size: var(--primary-font-size);
  font-weight: 500;
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  margin-bottom: 16px;
  text-align: center;
}
.footer .logo-icon {
  gap: 16px;
  margin-bottom: 72px;
}
.footer .list {
  width: 40px;
  height: 40px;
}
.footer .logo-icon-list {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--primary-blue-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--primary-grey-second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .logo-icon-list:hover,
.footer .logo-icon-list:focus {
  background-color: #31d0aa;
}
/* Footer subsckribe form */
.footer-container-subsckribe {
  min-width: 100%;
}

.subsckribe-item {
  color: var(--primary-white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: var(--primary-letter-spacing);
  margin-bottom: 16px;
  text-align: center;
}
/* .subsckribe-form {
  display: flex;
  gap: 24px;
} */

.subsckribe-form {
  min-width: 100%;
}

.subsckribe-form-input {
  /* max-width: 264px; */
  min-width: 100%;
  max-height: 40px;
  border-radius: 4px;
  border: 1px solid var(--primary-white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  color: var(--primary-white-color);
  font-size: 12px;
  line-height: var(--primary-line-height);
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  margin-bottom: 16px;
}
/* Footer subsckribe form */

.subsckribe-form-input:focus {
  border-color: var(--active-link-color);
}

.subsckribe-form-input::placeholder {
}
.footer-button {
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  max-width: 165px;
  /* gap: 16px; */
  padding: 8px 24px;
  color: var(--primary-white-color);
  text-align: center;
  font-weight: 500;
  line-height: var(--primary-line-height);
  letter-spacing: 0.04em;
  margin: 0 auto;
  max-height: 40px;
}

.footer-button-icon {
  margin-left: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    max-width: 584px;
    display: block;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    gap: 72px 24px;
  }
  .footer-container-text {
    display: block;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    max-width: 264px;
    margin: 0;
  }
  .footer-box {
    display: flex;
    gap: 24px;
  }
  .footer-button {
    margin: 0;
  }
  .subsckribe-form {
    display: inline-flex;
    gap: 24px;
  }
  .subsckribe-item {
    text-align: start;
  }
  .subsckribe-form-input {
    margin: 0;
  }
  /* .logo.link {
    margin-left: 0;
    max-width: 100%;
    text-align: start;
  } */
  /* .footer-container-text .logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
  } */
  .footer-social-item {
    text-align: start;
  }
  .subscribe-item {
    text-align: start;
  }
  .subsckribe-form-input {
    min-width: 264px;
    height: 40px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    max-width: 1158px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }
  .footer-container-text {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-text {
    margin-bottom: 0;
    width: 100%;
    max-height: 72px;
  }
  .footer-box {
    max-height: 112px;
    gap: 0;
  }
  .footer-container-text .logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .footer-social-item {
    text-align: start;
  }
  .footer-container-social {
    display: block;
    margin-right: 80px;
  }

  .subsckribe-form-input {
    max-width: 264px;
    margin-right: 0;
  }
  .footer-container-subsckribe {
    min-width: 455px;
    margin: 0;
  }
  .footer .logo-icon {
    margin-bottom: 0;
  }
}

.footer-button-icon {
  max-width: 24px;
  max-height: 24px;
}
